.ytloop-ytp-button {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0 !important;
  opacity: 0.9;
  color: var(--c-white);
}
.ytloop-ytp-button svg {
  width: 24px;
  height: 24px;
}
.ytloop-ytp-button:hover {
  opacity: 1;
}
#ytloop-toggle-btn.ytloop-active {
  color: var(--c-brand);
  opacity: 1;
}
